@model IEnumerable<CentroDeAdopcion_LaEsperanza.Models.Adopcione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Fecha de Solicitud
            </th>
            
            <th>
                Nombre de la Mascota
            </th>
            <th>
                Raza
             </th>
            <th>
                Edad
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSolicitud)
            </td>         
            <td>
                @Html.DisplayFor(modelItem => item.IdMascotaNavigation.Nombre)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMascotaNavigation.Raza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMascotaNavigation.Edad)
                </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.IdAdopcion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
